# 必选大模型相关参数
api_key="sk-"
model=""
base_url=""

# 单独给agent设置不同的模型，不设置默认使用model
# planAgentModel=""
# dataAgentModel=""
# reportAgentModel=""
# publicOptionAgentModel=""
# investmentAgentModel=""
# xuanguAgentModel=""


# 以下可选，给自己邮箱发邮件使用
# 自己邮箱
smtp_user=""
# 邮箱密码
smtp_password=""
# 邮箱服务器
smtp_server=""
# 可以发给自己，多个|分隔
toaddrs=""

# 需要排除的股票 | 分隔
exclude_symbol=""
# 持仓股票
position_symbol=""
# 搜索引擎 https://app.tavily.com/home 新人每月1000次
TAVILY_API_KEY=""
# server酱
SERVER_JIO_KEY=""